* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #212121;
}

.container{
    max-width: 800px;
    margin: auto;
    padding: 0 15px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    margin: auto;
    margin-top: 32px;
    background-color: rgb(24, 24, 24);
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: #ffb897;
    border: 7px solid rgb(24, 24, 24);
    box-sizing: border-box;
}

.wall {
    background-color: #2121de;
}

.power-pellet {
    background-color: #ffb897;
    border: 2px solid rgb(24, 24, 24);
    border-radius: 100%;
}

.pac-man {
    background: url('images/pacman.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ghost {
    border: none;
}

.to-right {
    transform: rotate(0);
}

.to-left {
    transform: rotate(180deg);
}

.to-down {
    transform: rotate(90deg);
}

.to-up {
    transform: rotate(-90deg);
}

.blinky {
    background: url('images/red-ghost.png');
    background-size: contain;
}

.inky {
    background: url('images/yellow-ghost.png');
    background-size: contain;
}

.clyde {
    background: url('images/blue-ghost.png');
    background-size: contain;
}