* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #212121;
}

.container{
    max-width: 800px;
    margin: auto;
    padding: 0 15px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    margin: auto;
    margin-top: 32px;
    background-color: rgb(24, 24, 24);
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: #ffb897;
    border: 7px solid rgb(24, 24, 24);
    box-sizing: border-box;
}

.wall {
    background-color: #2121de;
}

.power-pellet {
    background-color: #ffb897;
    border: 2px solid rgb(24, 24, 24);
    border-radius: 100%;
}

.pac-man {
    background: url('images/pacman.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ghost {
    border: none;
}

.to-right {
    transform: rotate(0);
}

.to-left {
    transform: rotate(180deg);
}

.to-down {
    transform: rotate(90deg);
}

.to-up {
    transform: rotate(-90deg);
}

.blinky {
    background: url('images/red-ghost.png');
    background-size: contain;
}

.inky {
    background: url('images/yellow-ghost.png');
    background-size: contain;
}

.clyde {
    background: url('images/blue-ghost.png');
    background-size: contain;
}

.button-group{
    display: flex;
    justify-content: center;
    margin: 12px 0;
}

.button-group button {
    margin: 0 12px;
    padding: 12px 32px;
    background-color: rgb(220,220, 220);
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0, 0.5) inset, 3px 3px 8px 0 rgba(255, 255, 255, 0.5);
}

.button-group button:hover {
    box-shadow: 2px 2px 15px 0 rgba(255, 255, 255, 0.5)
}

.score-box{
    display: flex;
    justify-content: center;
    color: white;
}

.score-box p{
    margin: 4px;
}